---
import Layout from '../layouts/Layout.astro';
import AboutSection from '../components/AboutSection.astro';
---

<Layout title="About me">
  <h1>Hello, I'm Shubham Maurya</h1>

  <p>Software developer with a passion for minimalism and clean design, based in Delhi, India.</p>

  <p>Currently crafting solutions at Epam Systems with .NET technologies, bringing 3.5 years of focused experience to the table.</p>

  <p>When I'm not coding, you can find me writing blogs, photographing, or thinking about starting a side project. Or just staring out of the window... I do that a lot.</p>

  <p>Feel free to reach out if you want to chat about technology, collaborate on a project, want to hire me or just to say hello :)</p>

  <AboutSection />
</Layout>
