---
import CopyButton from './CopyButton.astro';
---

<div class="contact-info">
  <h2>Contact</h2>
<p>
    Email: mail@maishubham.dev
    <CopyButton textToCopy="mail@maishubham.dev" /><br>
    LinkedIn: <a href="https://www.linkedin.com/in/maishubham/" target="_blank" rel="noopener noreferrer">@maishubham</a><br>
    Instagram: <a href="https://www.instagram.com/mai.shubham/" target="_blank" rel="noopener noreferrer">@mai.shubham</a>
</p>
</div>

<style>
  .contact-info {
    flex: 1;
  }
</style>
